<div class="
hover:bg-blue-300
transition-all
rounded-xl cursor-pointer border-b-orange-500 card border p-4 bg-white shadow-lg mt-2">
    <div class="header border-b-2 pb-3 border-b-gray-200">
        <h1 class="font-bold">India vs England</h1>
        <p>34thmatch in stadium</p>
    </div>
    <div class="body mt-4">
        <div class="flex justify-between px-2">
            <p class="font-bold">IND</p>
            <p class="font-bold">242/2</p>
        </div>
        <div class="flex justify-between px-2">
            <p class="font-bold">ENG</p>
            <p class="font-bold">242/2</p>
        </div>

    </div>
    <div class="footer mt-3">
        <p class="text-red-700">has won</p>
        <p class="text-green-700">has won</p>
    </div>
</div>
